# these attachments are too big
# if you want to download these files
#    and you can open the link on github then find the file
#       and click 'raw'
attachments/google-chrome/*
attachments/synergy/*